@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue0: #024e72;
    --blue1: #047495;
    --blue2: #0c8b99;
    --a: rgba(255, 255, 255, 0.05);
}
body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url("/src/images/AssetMAIN.png") center/cover no-repeat;
}
.App {
    width: inherit;
    height: inherit;
    background-color: white;
}
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
.container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar-track {
    background: var(--blue2);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue0);
    border-radius: 0px;
}

.RightSide {
    background: #fff;
}
.Sidebar {
    height: 100%;
    overflow-y: unset;
    position: relative;

    background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(255, 0, 0, 0);
        left: 382px;
        width: 100px;
        top: 0px;
        height: 100px;
        z-index: -1;
        border-radius: 100px 0px 0px 0px;
        box-shadow: -20px -20px 0px 20px #036c8d;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(255, 0, 0, 0.004);
        left: 382px;
        width: 100px;
        bottom: 0px;
        height: 100px;
        z-index: -1;
        border-radius: 0px 0px 0px 97px;
        box-shadow: -40px 19px 0px 17px #0b8999;
    }
}

.MenuIcon {
    position: absolute;
    background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
    height: 100%;
    text-align: center;
    width: inherit;
    &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(255, 0, 0, 0);
        left: 96px;
        width: 100px;
        top: 1px;
        height: 100px;
        z-index: 1;
        border-radius: 100px 0px 0px 0px;
        box-shadow: -20px -20px 0px 20px #035b7e;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(255, 0, 0, 0);
        left: 96px;
        width: 100px;
        bottom: 0px;
        height: 100px;
        z-index: 1;
        border-radius: 0px 0px 0px 100px;
        box-shadow: -18px 18px 0px 17px #0a8598;
    }
}

nav ul li {
    margin: 0 20px;
    padding: 20px 0;
}

// img {
//     width: 100%;
//     height: auto;
//     max-width: 100%;
//     max-height: inherit;
//     object-fit: cover;
//     object-position: center;
//     overflow-x: hidden !important;
// }
.NavItem {
    background-color: var(--a);
    margin: 20px 0;
}
.active {
    background: #3fa686;
    background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
}
nav ul .NavItem:hover {
    background: #3fa686;
    background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
} /*# sourceMappingURL=index.css.map */

.icon {
    font-size: 2.4rem !important;
}
.in {
    cursor: pointer;
}
/*popup*/
/* Popup.css */
.popup-overlaya {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-contenta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
        width: 700px;
        text-align: center;
        height: 200px;
        font-weight: 900;
        border-radius: 40px;
        font-size: 24px;
    }
}
.submit-button {
    position: absolute;
    bottom: 4em;
    background-color: #024e72;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.popup-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-content {
        //  background: rgba(196, 174, 174, 0);
        padding: 20px;
        border-radius: 8px;
        position: relative;
        width: 70%;
        text-align: center;
    }

    .close-btn {
        position: absolute;
        top: 4px;
        right: 0;
        cursor: pointer;
        //background: red;
        border: none;
        font-size: 20px;
        color: #555;
        transition: 0.2s ease-in;
        &img {
            border-radius: 50%;
        }
    }

    .close-btn:hover {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}
/***************/

/* index.css */
.layout {
    display: flex;
    flex-direction: row;
}

// .sidebar {
//     height: 100%;
// }

// .body {
//     width: 100%;
//     height: 100vh;
// }
.aspect {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #047495;
    overflow-y: hidden !important;
    img {
        width: inherit;
        object-fit: cover;
    }
}
.imgIN {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 300px;
    right: 76%;
    cursor: pointer;
    animation: imgesMoves 1.3s linear ease-in-out forwards;
    .imgOf {
        width: 6em;
        // position: absolute;
        // right: 3em;
        // bottom: 0;
    }

    .move-x {
        z-index: -1;
        animation: imgesMoves 1.3s ease-in-out forwards;
    }
}

// .main-image {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: inherit;
// }
.additional-images {
    display: flex;
    gap: 9.8em;
    justify-content: center;
    align-items: center;
}
.mainBorderIndeminges {
    position: absolute;
    bottom: 6%;
    z-index: -1;
}
.additional-images img {
    width: 100%;
    margin-top: 100px;
}
.additional-images .secnd {
    margin-top: -400px;
}
.centerBrain {
    position: absolute;
    width: 50%;
}
.Dvideo {
    position: absolute;
    left: 26em;
    bottom: 0;
}
.OutcomsMain {
    width: 100%;
    height: 100vh;
}
.changeImage1:hover {
    background-image: url("../src/images/Dh1.png");
}
.changeImage2:hover {
    background-image: url("../src/images/Dh2.png");
}
.changeImage3:hover {
    background-image: url("../src/images/Dh3.png");
}
.ChangeBGVOC1:hover {
    background-image: url("../src/images/convertToVoc/Aartboard1a.png");
}
.ChangeBGVOC2:hover {
    background-image: url("../src/images/convertToVoc/Artboard2a.png");
}
.LockBg {
    background-image: url("/src/images/convertToVoc/lock.png");
}
@keyframes imgesMoves {
    to {
        transform: translateX(100%);
    }
}

.ChangeBGPM5:hover {
    background-image: url(/src/images/Processmapping/Artboard5h.png);
    background-repeat: no-repeat;
}

$img: 4;

@for $i from 1 through $img {
    .pp-#{$i} {
        &:hover {
            background-image: url(/src/images/Processmapping/Artboardh#{$i}.png);
            // background-position: center;
            background-repeat: no-repeat;
            // background-size: cover;
        }
    }
}

.circle {
    position: absolute;
    width: 16%;
    z-index: 10;
}
.circle1 {
    right: 18.3em;
    top: 6.3em;
}
.circle2 {
    right: 33.3em;
    bottom: 10.1em;
}
.circle3 {
    right: 3.3em;
    bottom: 10.1em;
}
$ci: 3;

@for $i from 1 through $ci {
    .circle#{$i} {
        &:hover {
            z-index: 12;
            // position: relative;
            background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch#{$i}.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.nthChild :nth-child(2n) {
    margin-top: 128px;
}
// .q1 img:blank {
// // border:  1px solid rgba(132, 48, 48, 0.389) ;
// filter: drop-shadow(0 0 0.75rem var(--blue2));
// transform: scale(1.03);
// }
.questions {
    width: 100%;
    cursor: pointer;
}
.clicked {
    filter: drop-shadow(0 0 0.75rem var(--blue2));
    transform: scale(1.03);
}
.small-image {
    width: 50px;
    position: relative;
    bottom: 70px;
    left: 144px;
}
.checkerGreen {
    position: absolute;
    top: 0px;
}
.hotSpot {
    position: absolute;
    width: 100%;
    height: 52em;
    background-color: rgba(97, 94, 94, 0.222);
    z-index: 100000;
    /* top: -46em; */
    bottom: 5.2rem;
    left: 0rem;
}
.RloadBtn {
    position: absolute;
    bottom: 1em;
    right: 4em;
    background-color: #024e72;
    color: #fff;
    padding: 10px 20px;
    font-size: 34px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
.vdcCard {
    width: 188px;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff00;
    cursor: pointer;
}
.vdcMain {
    display: flex;
    position: absolute;
    top: 8em;
    gap: 9em;
    right: 21em;
}
.vdcCard1 {
    background-color: rgba(255, 255, 255, 0);
    width: 214px;
    height: 97px;
    border-radius: 10px;
    position: absolute;
    right: 41em;
    bottom: 10em;
    cursor: pointer;
}


.cls-1 {
    fill: url(#linear-gradient);
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
    stroke-width: 0px;
}

.cls-2 {
    filter: url(#drop-shadow-2);
}

.cls-2,
.cls-4,
.cls-5,
.cls-6,
.cls-8,
.cls-7 {
    fill: #fff;
}

.cls-3 {
    fill: #dcdfe2;
}

.cls-4 {
    filter: url(#drop-shadow-1);
}

.cls-5 {
    filter: url(#drop-shadow-4);
}

.cls-6 {
    filter: url(#drop-shadow-5);
}

.cls-8 {
    font-family: DINNextLTArabic-Medium, "DIN Next LT Arabic";
    font-size: 12px;
    font-weight: 500;
}

.cls-7 {
    filter: url(#drop-shadow-3);
}
#Layer_2 {
    width: 80%;
    position: absolute;
    top: 30em;
    left: 10em;
}
.DevmapButton{
    display: flex;
    position: absolute;
    top: 0;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    left: 3.6em;

}


@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar,
    .body {
        width: 100%;
    }
}