@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue0: #024e72;
  --blue1: #047495;
  --blue2: #0c8b99;
  --a: rgba(255, 255, 255, 0.05);
}

body {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("/src/images/AssetMAIN.png") center/cover no-repeat;
}

.App {
  width: inherit;
  height: inherit;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar-track {
  background: var(--blue2);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue0);
  border-radius: 0px;
}

.RightSide {
  background: #fff;
}

.Sidebar {
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
}
.Sidebar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.Sidebar:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  left: 382px;
  width: 100px;
  top: 0px;
  height: 100px;
  z-index: -1;
  border-radius: 100px 0px 0px 0px;
  box-shadow: -20px -20px 0px 20px #036c8d;
}
.Sidebar:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.004);
  left: 382px;
  width: 100px;
  bottom: 0px;
  height: 100px;
  z-index: -1;
  border-radius: 0px 0px 0px 97px;
  box-shadow: -40px 19px 0px 17px #0b8999;
}

.MenuIcon {
  position: relative;
  background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
  height: 100%;
  text-align: center;
  width: 100%;
}
.MenuIcon:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(109, 19, 19, 0);
  left: 99%;
  width: 100%;
  top: 0.1%;
  height: 10%;
  z-index: 1;
  border-radius: 5vw 0vw 0vw 0vw;
  box-shadow: -1vw -1vw 0vw 0.7vw #035b7e;
}
.MenuIcon:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(96, 8, 8, 0);
  left: 100%;
  width: 100%;
  bottom: 4px;
  height: 10%;
  z-index: 1;
  border-radius: 0px 0px 0px 5vw;
  box-shadow: -1vw 1vw 0vw 0.7vw #0a8598;
}

nav ul li {
  margin: 0 0.5vw;
  padding: 1vw 0;
}

.NavItem {
  background-color: var(--a);
  margin: 3% 0;
}

.active {
  background: #3fa686;
  background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
}

nav ul .NavItem:hover {
  background: #3fa686;
  background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
} 
.icon {
  font-size: 1.8vw !important;
}

.in {
  cursor: pointer;
}

/*popup*/
/* Popup.css */
.hig {
  height: 0;
}

.popup-overlaya {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlaya .popup-contenta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 700px;
  text-align: center;
  height: 200px;
  font-weight: 900;
  border-radius: 40px;
  font-size: 24px;
}

.submit-button {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #024e72;
  color: #fff;
  padding: 1% 2%;
  font-size: 1.2vw;
  font-weight: 600;
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
}

.popup-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlay .popup-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 70%;
  text-align: center;
}
.popup-overlay .close-btn {
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: #555;
  transition: 0.2s ease-in;
}
.popup-overlay .close-btnimg {
  border-radius: 50%;
}
.popup-overlay .close-btn:hover {
  transform: scale(1.1);
}
.popup-overlay img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/***************/
/* index.css */
.layout {
  display: flex;
  flex-direction: row;
}

.aspect {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #047495;
  overflow-y: hidden !important;
}
.aspect img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgIN {
  width: 50%;
  top: 36%;
  right: 76%;
  cursor: pointer;
  animation: imgesMoves 1.3s linear ease-in-out forwards;
}
.imgIN .imgOf {
  width: 5vw;
}
.imgIN .move-x {
  z-index: -1;
  animation: imgesMoves 1.3s ease-in-out forwards;
}

.additional-images {
  bottom: 0%;
  position: relative;
  display: flex;
  gap: 9.8vw;
  justify-content: center;
  align-items: center;
}

.mainBorderIndeminges {
  position: relative;
  bottom: 0vh;
  z-index: -1;
}

.secnd {
  margin-top: -19%;
}

.Dvideo {
  position: absolute;
  left: 26em;
  bottom: 0;
}

.OutcomsMain {
  width: 100%;
  height: 100vh;
}

.changeImage1:hover {
  background-image: url("../src/images/Dh1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: contain;
}

.changeImage2:hover {
  background-image: url("../src/images/Dh2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: contain;
}

.changeImage3:hover {
  background-image: url("../src/images/Dh3.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: contain;
}

.ChangeBGVOC1:hover {
  background-image: url("../src/images/convertToVoc/Aartboard1a.png");
}

.ChangeBGVOC2:hover {
  background-image: url("../src/images/convertToVoc/Artboard2a.png");
}

.LockBg {
  background-image: url("/src/images/convertToVoc/lock.png");
}

@keyframes imgesMoves {
  to {
    transform: translateX(100%);
  }
}
.ChangeBGPM5:hover {
  background-image: url(/src/images/Processmapping/Artboard5h.png);
  background-repeat: no-repeat;
}

.pp-1:hover {
  background-image: url(/src/images/Processmapping/Artboardh1.png);
  background-repeat: no-repeat;
}

.pp-2:hover {
  background-image: url(/src/images/Processmapping/Artboardh2.png);
  background-repeat: no-repeat;
}

.pp-3:hover {
  background-image: url(/src/images/Processmapping/Artboardh3.png);
  background-repeat: no-repeat;
}

.pp-4:hover {
  background-image: url(/src/images/Processmapping/Artboardh4.png);
  background-repeat: no-repeat;
}

.circle {
  position: absolute;
  width: 16%;
  z-index: 10;
}

.circle1 {
  right: 18.3vw;
  top: 6.3vh;
}

.circle2 {
  right: 33.3vw;
  bottom: 10.1vh;
}

.circle3 {
  right: 3.3vw;
  bottom: 10.1vh;
}

.circle1:hover {
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch1.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: contain;
}

.circle2:hover {
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch2.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: contain;
}

.circle3:hover {
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch3.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: contain;
}

.nthChild :nth-child(2n) {
  margin-top: 128px;
}

.questions {
  width: 100%;
  cursor: pointer;
}

.clicked {
  filter: drop-shadow(0 0 0.75rem var(--blue2));
  transform: scale(1.03);
}

.small-image {
  width: 50px;
  position: relative;
  bottom: 70px;
  left: 144px;
}

.checkerGreen {
  position: absolute;
  top: 0px;
  width: 2.28vw;
}

.hotSpot {
  position: absolute;
  width: 100vw;
  height: 82vh;
  background-color: rgba(97, 94, 94, 0.222);
  z-index: 10;
  bottom: 43vh;
  left: 0rem;
}

.RloadBtn {
  position: absolute;
  bottom: 1em;
  right: 4em;
  background-color: #024e72;
  color: #fff;
  padding: 10px 20px;
  font-size: 34px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.RloadBtn:hover {
  transform: scale(1.1);
}

.vdcCard {
  width: 188px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.vdcMain {
  display: flex;
  position: absolute;
  top: 8em;
  gap: 9em;
  right: 21em;
}

.vdcCard1 {
  background-color: rgba(255, 255, 255, 0);
  width: 214px;
  height: 97px;
  border-radius: 10px;
  position: absolute;
  right: 41em;
  bottom: 10em;
  cursor: pointer;
}

.cls-1 {
  fill: url(#linear-gradient);
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
  stroke-width: 0px;
}

.cls-2 {
  filter: url(#drop-shadow-2);
}

.cls-2,
.cls-4,
.cls-5,
.cls-6,
.cls-8,
.cls-7 {
  fill: #fff;
}

.cls-3 {
  fill: #dcdfe2;
}

.cls-4 {
  filter: url(#drop-shadow-1);
}

.cls-5 {
  filter: url(#drop-shadow-4);
}

.cls-6 {
  filter: url(#drop-shadow-5);
}

.cls-8 {
  font-family: DINNextLTArabic-Medium, "DIN Next LT Arabic";
  font-size: 12px;
  font-weight: 500;
}

.cls-7 {
  filter: url(#drop-shadow-3);
}

#Layer_2 {
  width: 80%;
  position: absolute;
  top: 30em;
  left: 10em;
}

.DevmapButton {
  display: flex;
  position: absolute;
  top: 0;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 90%;
  left: 3.6em;
}/*# sourceMappingURL=index.css.map */