@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue0: #024e72;
  --blue1: #047495;
  --blue2: #0c8b99;
  --a: rgba(255, 255, 255, 0.05);
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("/src/images/AssetMAIN.png") center/cover no-repeat;
}

.App {
  width: inherit;
  height: inherit;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar-track {
  background: var(--blue2);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue0);
  border-radius: 0px;
}

.RightSide {
  background: #fff;
}

.Sidebar {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
}
.Sidebar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.ji:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(2, 78, 114, 0);
  left: 40px;
  z-index: 1;
  width: 480px;
  height: 100%;
  border-radius: 0;
  background-image: radial-gradient(circle at 1016px 475px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 749px, var(--blue1) 0);
  color: #fff;
}
.ji:before:before {
  display: block;
  position: absolute;
  background-color: rgba(2, 78, 114, 0);
  left: 400px;
  z-index: 1;
  width: 480px;
  height: 100%;
}

.MenuIcon {
  position: absolute;
  background: linear-gradient(117deg, var(--blue0) 0%, var(--blue1) 50%, var(--blue2) 100%);
  height: 100%;
  text-align: center;
  width: inherit;
}

nav ul li {
  margin: 0 20px;
  padding: 20px 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow-x: hidden !important;
}

.NavItem {
  background-color: var(--a);
  margin: 20px 0;
}

.active {
  background: #3fa686;
  background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
}

nav ul .NavItem:hover {
  background: #3fa686;
  background: linear-gradient(90deg, #3fa686 0%, #129e9d 50%, #047f9f 100%);
} 
.icon {
  font-size: 2.4rem !important;
}

.in {
  cursor: pointer;
}

/*popup*/
/* Popup.css */
.popup-overlaya {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlaya .popup-contenta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 700px;
  text-align: center;
  height: 200px;
  font-weight: 900;
  border-radius: 40px;
  font-size: 24px;
}

.submit-button {
  position: absolute;
  bottom: 4em;
  background-color: #024e72;
  color: #fff;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

.popup-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-overlay .popup-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 70%;
  text-align: center;
}
.popup-overlay .close-btn {
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: #555;
  transition: 0.2s ease-in;
}
.popup-overlay .close-btnimg {
  border-radius: 50%;
}
.popup-overlay .close-btn:hover {
  transform: scale(1.1);
}
.popup-overlay img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/***************/
/* index.css */
.layout {
  display: flex;
  flex-direction: row;
}

.aspect {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #047495;
  overflow-y: hidden !important;
}
.aspect img {
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgIN {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  top: 300px;
  right: 76%;
  cursor: pointer;
  animation: imgesMoves 1.3s linear ease-in-out forwards;
}
.imgIN .imgOf {
  width: 6em;
}
.imgIN .move-x {
  z-index: -1;
  animation: imgesMoves 1.3s ease-in-out forwards;
}

.additional-images {
  display: flex;
  gap: 9.8em;
  justify-content: center;
  align-items: center;
}

.mainBorderIndeminges {
  position: absolute;
  bottom: 6%;
  z-index: -1;
}

.additional-images img {
  width: 100%;
  margin-top: 100px;
}

.additional-images .secnd {
  margin-top: -400px;
}

.centerBrain {
  position: absolute;
  width: 50%;
}

.Dvideo {
  position: absolute;
  left: 26em;
  bottom: 0;
}

.OutcomsMain {
  width: 100%;
  height: 100vh;
}

.changeImage1:hover {
  background-image: url("../src/images/Dh1.png");
}

.changeImage2:hover {
  background-image: url("../src/images/Dh2.png");
}

.changeImage3:hover {
  background-image: url("../src/images/Dh3.png");
}

.ChangeBGVOC1:hover {
  background-image: url("../src/images/convertToVoc/Aartboard1a.png");
}

.ChangeBGVOC2:hover {
  background-image: url("../src/images/convertToVoc/Artboard2a.png");
}

.LockBg {
  background-image: url("/src/images/convertToVoc/lock.png");
}

@keyframes imgesMoves {
  to {
    transform: translateX(100%);
  }
}
.ChangeBGPM5:hover {
  background-image: url(/src/images/Processmapping/Artboard5h.png);
  background-repeat: no-repeat;
}

.pp-1:hover {
  background-image: url(/src/images/Processmapping/Artboardh1.png);
  background-repeat: no-repeat;
}

.pp-2:hover {
  background-image: url(/src/images/Processmapping/Artboardh2.png);
  background-repeat: no-repeat;
}

.pp-3:hover {
  background-image: url(/src/images/Processmapping/Artboardh3.png);
  background-repeat: no-repeat;
}

.pp-4:hover {
  background-image: url(/src/images/Processmapping/Artboardh4.png);
  background-repeat: no-repeat;
}

.circle {
  position: absolute;
  width: 16%;
  z-index: 10;
}

.circle1 {
  right: 18.3em;
  top: 6.3em;
}

.circle2 {
  right: 33.3em;
  bottom: 10.1em;
}

.circle3 {
  right: 3.3em;
  bottom: 10.1em;
}

.circle1:hover {
  z-index: 12;
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle2:hover {
  z-index: 12;
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle3:hover {
  z-index: 12;
  background-image: url(/src/images/gemba/GembaP67/Edit/Artboardch3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nthChild :nth-child(2n) {
  margin-top: 160px;
}

.questions {
  width: 100%;
  cursor: pointer;
}

.clicked {
  filter: drop-shadow(0 0 0.75rem var(--blue2));
  transform: scale(1.03);
}

.small-image {
  width: 50px;
  position: relative;
  bottom: 70px;
  left: 144px;
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .sidebar,
  .body {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */